.form {
  display: flex;

  input {
    height: 30px;
    flex: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.submit {
    height: 100%;
    margin-left: 6px;
  }

  &.clear {
    border: 0 none;
    background-color: transparent;
  }
}
